@{
    ViewBag.Title = "Kezdőlap";
}


<!--Main-->
<div class="card-deck my-2 text-center">

    <div class="card py-2">

        <div class="card-body">
            <img class="card-img-top" src=/images/registration.jpg height="300px">
            <h5 class="card-title my-4">Regisztráció</h5>
            <p class="card-text my-4">A szolgálatás regisztrálásához kattintson a regisztráció gombra és használja 30 napig ingyenesen szolgáltatásunkat.</p>
            <button class="btn btn-primary btn-block my-4" onclick="location.href='@Url.Action("Registration", "User")'">Regisztráció</button>
        </div>
    </div>
    <div class="card py-2">
        <div class="card-body">
            <img class="card-img-top" src=/images/login.png height="300px">
            <h5 class="card-title my-4">Belépés</h5>
            <p class="card-text my-4">Amennyiben rendelkezik felhasználói fóikkal, belépés gombra kattintva ellenőrizheti license érvényességét.</p>
            <button class="btn btn-primary btn-block my-4" onclick="location.href='@Url.Action("SignIn", "User")'">Belépés</button>
        </div>
    </div>
</div>
<!--/Main-->