<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="RegisterURL" value="https://localhost:5001"/>
		<add key="SignInURL" value="https://localhost:5001/SignIn"/>
		<add key="UploadURL" value="https://localhost:5001/Upload"/>
	</appSettings>
</configuration>