<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="RegisterURL" value="https://dicomloaderweb20201120211629.azurewebsites.net"/>
		<add key="SignInURL" value="https://dicomloaderweb20201120211629.azurewebsites.net/SignInDesktop"/>
		<add key="UploadURL" value="https://dicomloaderweb20201120211629.azurewebsites.net/Upload"/>
	</appSettings>
</configuration>